.p5c-container {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  font-family: Menlo, Consolas, monospace;
  font-size: 1rem;
  color: #f7fafc;
  background: rgba(160, 174, 192, 0.5);
  border-radius: 8px;
  text-shadow: 2px 2px 4px #4a5568, 2px -2px 4px #4a5568, -2px 2px 4px #4a5568,
    -2px -2px 4px #4a5568;
  box-shadow: 0 0 4px #4a5568;
  cursor: move;
}
.p5c-main {
  display: flex;
  gap: 10px;
  align-items: center;
}
.p5c-btn {
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: #f7fafc;
  box-shadow: 2px 2px 4px #4a5568, 2px -2px 4px #4a5568, -2px 2px 4px #4a5568,
    -2px -2px 4px #4a5568;
}
.p5c-btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #f56565;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.p5c-btn:hover::after {
  width: 20px;
  height: 20px;
}
.p5c-btn:disabled {
  background: #a0aec0;
  cursor: not-allowed;
}
.p5c-btn:disabled::after {
  background: #718096;
}
.p5c-btn:focus-visible {
  outline: 2px auto rgba(0, 181, 216, 0.75);
}
.p5c-counter {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.p5c-container.capturing .p5c-btn::after,
.p5c-container.encoding .p5c-btn::after {
  width: 12px;
  height: 12px;
  border-radius: 10%;
}
.p5c-container.capturing .p5c-btn:hover::after,
.p5c-container.encoding .p5c-btn:hover::after {
  width: 16px;
  height: 16px;
}
.p5c-container.idle .p5c-counter {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 30%);
}
.p5c-options {
  display: grid;
  grid-template-columns: max-content 70px;
  gap: 8px;
  align-items: center;
}
.p5c-format,
.p5c-framerate {
  color: #f7fafc;
  background: #1a202c;
  border: none;
  border-radius: 6px;
  outline: none;
}
.p5c-format:focus,
.p5c-framerate:focus {
  box-shadow: 0 0 0 2px rgba(0, 181, 216, 0.75);
}
.p5c-format:disabled,
.p5c-framerate:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.p5c-format {
  cursor: pointer;
  padding: 1px 2px;
}
.p5c-framerate {
  padding: 2px 6px;
}
