.p5capture-container {
  margin: 12px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 8px;
  align-items: center;
}
.p5capture-container .p5capture-btn-container {
  position: relative;
  width: 30px;
  height: 30px;
}
.p5capture-container .p5capture-btn-container .p5capture-label .p5capture-btn {
  display: none;
}
.p5capture-container .p5capture-btn-container .p5capture-label::before,
.p5capture-container .p5capture-btn-container .p5capture-label::after {
  content: "";
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.p5capture-container .p5capture-btn-container .p5capture-label::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background: #f7fafc;
  box-shadow: 2px 2px 4px #4a5568, 2px -2px 4px #4a5568, -2px 2px 4px #4a5568,
    -2px -2px 4px #4a5568;
}
.p5capture-container .p5capture-btn-container .p5capture-label::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background: #f56565;
}
.p5capture-container .p5capture-btn-container .p5capture-label:hover::after {
  width: 20px;
  height: 20px;
}
.p5capture-container .p5capture-counter {
  visibility: visible;
  opacity: 1;
  font-family: Menlo, Consolas, monospace;
  font-size: 1rem;
  color: #f7fafc;
  text-shadow: 2px 2px 4px #4a5568, 2px -2px 4px #4a5568, -2px 2px 4px #4a5568,
    -2px -2px 4px #4a5568;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.p5capture-container.capturing .p5capture-btn-container .p5capture-label::after,
.p5capture-container.encoding .p5capture-btn-container .p5capture-label::after {
  width: 12px;
  height: 12px;
  border-radius: 10%;
}
.p5capture-container.capturing
  .p5capture-btn-container
  .p5capture-label:hover::after,
.p5capture-container.encoding
  .p5capture-btn-container
  .p5capture-label:hover::after {
  width: 16px;
  height: 16px;
}
.p5capture-container.encoding
  .p5capture-btn-container
  .p5capture-label::before {
  background: #a0aec0;
  cursor: not-allowed;
}
.p5capture-container.encoding .p5capture-btn-container .p5capture-label::after {
  background: #718096;
  cursor: not-allowed;
}
.p5capture-container.idle .p5capture-counter {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 30%);
}
